img {margin: 4px}

* {font-family: sans-serif;
	margin-bottom: 4px;
	padding: 16px;
	background-color: mediumpurple;}

.nav-link {margin-left: 2rem; margin-right: 2rem; color: whitesmoke;}
nav {text-align: center;}

a {text-decoration: none;}

#landing {text-align:center;color: ghostwhite;}
	#profile {height: 300px; width:300px; margin-top: 2px; margin-bottom: 2px; border-radius: 50px}
	#name {margin-top: 2px; margin-bottom: 2px}
	#title {margin-top: 2px; margin-bottom: 2px}
	#intro {width: 200px; margin: auto;}

	#tools {text-align:center;margin-top: 2px; margin-bottom: 2px; color: ghostwhite}
	#tools-title {margin-top: 2px; margin-bottom: 2px}
	.tools-img {height: 100px; width: 100px;}

#projects {text-align: center;color: ghostwhite}
.card {background-color: plum; margin-left: auto; margin-right: auto}
.project-img {border-radius: 40px}

#contact {text-align: center; padding: 16px; margin-top: 4px; background-color: mediumpurple;}

body {	background-image: url(https://images.unsplash.com/photo-1541701494587-cb58502866ab?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}